.mainContent {
    float: right;
    width: 630px;
}
#advancedSearchingForm input,#advancedSearchingForm textarea {
    width: 91%;
}

#datepickerContainer {
    margin-bottom: 10px;
}

#keyWordsSearch {
    height: 18px;
}

.delimiter {
    margin-bottom: 10px;
    margin-top: 10px;
    border-bottom: 1px dotted #666666;
    border-top: transparent;
}

#advancedSearchingForm #searchBtn {
    width: 150px;
    margin-left: 53px;
}


.errorMessage {
    margin-left: 20px;
    width: 260px;
    color: red;
}