.version.article /* version checker */
{
	color: #000008;
	background-color: #5B7DCA;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1079.6000000000006px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	padding-bottom: 1px;
	width: 0.01px;
}

#nameAndMenu
{
	z-index: 208;
	width: 582px;
	min-height: 72px;
	margin-right: -10000px;
	left: 438px;
}

#magazineName
{
	z-index: 211;
	width: 438px;
	min-height: 72px;
	margin-right: -10000px;
}

#magazineMenu
{
	z-index: 215;
	width: 578px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 438px;
}

#homeButtonMenu
{
	width: 114px;
	min-height: 32px;
	margin-right: -10000px;
}

#homeButton
{
	width: 114px;
	padding-bottom: 15px;
}

#homeButton:active
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#homeButTxt
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
	top: 7px;
}

#homeButton:hover #homeButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#homeButton:active #homeButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#publicationsButtonMenu
{
	width: 114px;
	min-height: 32px;
	margin-right: -10000px;
	left: 116px;
}

#publicationsButton
{
	width: 114px;
	padding-bottom: 15px;
}

#homeButton.menuActive, #publicationsButton:active
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#publicationsButTxt
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
	top: 7px;
}

#homeButton.menuActive #homeButTxt, #publicationsButton:hover #publicationsButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#publicationsButton:active #publicationsButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#seminarButtonMenu
{
	width: 114px;
	min-height: 32px;
	margin-right: -10000px;
	left: 232px;
}

#seminarButton
{
	width: 114px;
	padding-bottom: 15px;
}

#publicationsButton.menuActive, #seminarButton:active
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#seminarButTxt
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
	top: 7px;
}

#publicationsButton.menuActive #publicationsButTxt, #seminarButton:hover #seminarButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#seminarButton:active #seminarButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#publishButtonMenu
{
	width: 114px;
	min-height: 32px;
	margin-right: -10000px;
	left: 348px;
}

#publishButton
{
	width: 114px;
	padding-bottom: 15px;
}

#seminarButton.menuActive, #publishButton:active
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#publishButTxt
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
	top: 7px;
}

#seminarButton.menuActive #seminarButTxt, #publishButton:hover #publishButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#publishButton:active #publishButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#contactsButtonMenu
{
	width: 114px;
	min-height: 32px;
	margin-right: -10000px;
	left: 464px;
}

#contactsButton
{
	width: 114px;
	padding-bottom: 15px;
}

#publishButton.menuActive, #contactsButton:active
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#contactsButton.menuActive
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#contactsButTxt
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
	top: 7px;
}

#publishButton.menuActive #publishButTxt, #contactsButton:hover #contactsButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#contactsButton:active #contactsButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#contactsButton.menuActive #contactsButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#headerFontDark
{
	z-index: 206;
	width: 1020px;
	padding-bottom: 126px;
	margin-right: -10000px;
}

#headerFontTopPart
{
	z-index: 207;
	width: 1020px;
	height: 2px;
	margin-right: -10000px;
	margin-top: 65px;
}

#headerContent
{
	z-index: 246;
	width: 994px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 13px;
}

#u1424
{
	z-index: 282;
	width: 687px;
	padding-bottom: 4px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 10px;
}

#u1425
{
	z-index: 303;
	width: 58px;
	height: 78px;
	margin-right: -10000px;
	margin-top: 44px;
	left: 9px;
}

#u1428-4
{
	z-index: 288;
	width: 181px;
	min-height: 38px;
	margin-right: -10000px;
	margin-top: 91px;
	left: 88px;
}

#u1380
{
	z-index: 287;
	width: 1px;
	height: 101px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 274px;
}

#pu1445-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 281px;
}

#u1445-4
{
	z-index: 304;
	width: 156px;
	min-height: 22px;
	margin-left: 241px;
}

#u1429-4
{
	z-index: 283;
	width: 405px;
	min-height: 96px;
	margin-top: 9px;
}

#advancedSearchButton
{
	z-index: 278;
	width: 78px;
	min-height: 10px;
	margin-right: -10000px;
	margin-top: 119px;
	left: 915px;
}

#advancedSearchButton:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 78px;
	margin: 119px -10000px 0px 0px;
}

#advancedSearchButton:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 78px;
	margin: 119px -10000px 0px 0px;
}

#searchingForm
{
	z-index: 247;
	width: 0.01px;
	height: 59px;
	margin-right: -10000px;
	margin-top: 100px;
	left: 735px;
}

#searchingArea
{
	z-index: 248;
	width: 192px;
	height: 28px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 32px;
	left: -1px;
}

#searchingArea.fld-err-st
{
	width: 192px;
	height: 28px;
	min-height: 0px;
	margin: 32px -10000px -1px 0px;
}

#searchingBox
{
	z-index: 249;
	width: 162px;
	min-height: 14px;
	margin-right: -10000px;
	padding: 6px 6px 6px 22px;
}

#searchingArea:hover #searchingBox
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#searchingArea.focus-st #searchingBox
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#searchingArea.fld-err-st #searchingBox
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#searchingTxt
{
	width: 162px;
	min-height: 14px;
	padding: 6px 6px 6px 22px;
}

#sendingSearchingForm
{
	z-index: 253;
	width: 152px;
	min-height: 14px;
	padding-top: 4px;
	margin-right: -10000px;
}

#searchingError
{
	z-index: 257;
	width: 152px;
	min-height: 28px;
	padding-top: 4px;
	margin-right: -10000px;
}

#searchingForm.frm-subm-err-st #searchingError
{
	min-height: 32px;
}

#u465-3
{
	z-index: 261;
	width: 152px;
	min-height: 14px;
	padding-top: 4px;
	margin-right: -10000px;
}

#searchButton
{
	z-index: 264;
	min-height: 25px;
	width: 24px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 4px;
}

#searchingSign
{
	z-index: 277;
	width: 15px;
	height: 15px;
	margin-right: -10000px;
	margin-top: 140px;
	left: 739px;
}

#u1378-3
{
	z-index: 292;
	width: 181px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 108px;
	left: 111px;
}

#u1427-4
{
	z-index: 295;
	width: 181px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 94px;
	left: 111px;
}

#u1426-4
{
	z-index: 299;
	width: 181px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 76px;
	left: 111px;
}

#u1426-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 181px;
	margin: 76px -10000px 0px 0px;
}

#u1430-4
{
	z-index: 308;
	width: 513px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 31px;
}

#pamphletu1836
{
	z-index: 40;
	width: 0.01px;
	height: 35px;
	padding-bottom: 715px;
}

#u1841popup
{
	z-index: 41;
}

#u1841
{
	width: 1020px;
	padding-bottom: 43px;
}

#u1844
{
	z-index: 42;
	width: 997px;
	height: 748px;
	padding-left: 23px;
	padding-bottom: 2px;
	margin-right: -10000px;
}

#u2063-6
{
	z-index: 111;
	width: 685px;
	min-height: 77px;
	margin-right: -10000px;
}

#u2472
{
	z-index: 117;
	width: 311px;
	height: 4px;
	margin-right: -10000px;
	margin-top: 52px;
	left: 686px;
}

#accordionu1511
{
	z-index: 43;
	width: 285px;
	margin-right: -10000px;
	margin-top: 2px;
	left: 705px;
}

#u1520
{
	z-index: 44;
	width: 285px;
}

#u1523-4
{
	z-index: 45;
	width: 271px;
	min-height: 14px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u1523-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 271px;
	margin: 0px;
}

#u1523-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 271px;
	margin: 0px;
}

#u1521
{
	z-index: 49;
	width: 285px;
}

#u1522-4
{
	z-index: 50;
	width: 257px;
	min-height: 87px;
	margin-right: -10000px;
	left: 10px;
}

#u1516
{
	z-index: 54;
	width: 285px;
}

#u1519-4
{
	z-index: 55;
	width: 271px;
	min-height: 14px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u1519-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 271px;
	margin: 0px;
}

#u1519-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 271px;
	margin: 0px;
}

#u1523-4.AccordionPanelTabOpen,#u1519-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 273px;
	margin: 0px;
}

#u1517
{
	z-index: 59;
	width: 285px;
}

#u1539-4
{
	z-index: 60;
	width: 256px;
	min-height: 87px;
	margin-right: -10000px;
	left: 11px;
}

#u1512
{
	z-index: 64;
	width: 285px;
}

#u1515-4
{
	z-index: 65;
	width: 271px;
	min-height: 15px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u1515-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 271px;
	margin: 0px;
}

#u1515-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 271px;
	margin: 0px;
}

#u1515-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 16px;
	width: 273px;
	margin: 0px;
}

#u1513
{
	z-index: 69;
	width: 285px;
	padding-bottom: 9px;
}

#u1514-3
{
	z-index: 70;
	width: 258px;
	min-height: 242px;
	margin-right: -10000px;
	left: 9px;
}

#u1958
{
	z-index: 73;
	width: 60px;
	height: 80px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 10px;
}

#u1971
{
	z-index: 74;
	width: 60px;
	height: 80px;
	margin-right: -10000px;
	margin-top: 128px;
	left: 9px;
}

#u1965-4
{
	z-index: 75;
	width: 181px;
	min-height: 38px;
	margin-right: -10000px;
	margin-top: 53px;
	left: 86px;
}

#u1974-4
{
	z-index: 79;
	width: 181px;
	min-height: 38px;
	margin-right: -10000px;
	margin-top: 174px;
	left: 85px;
}

#u1966-3
{
	z-index: 83;
	width: 181px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 86px;
}

#u1973-3
{
	z-index: 86;
	width: 181px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 160px;
	left: 85px;
}

#u1967-4
{
	z-index: 89;
	width: 181px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 25px;
	left: 86px;
}

#u1972-4
{
	z-index: 93;
	width: 181px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 146px;
	left: 85px;
}

#u1968-4
{
	z-index: 97;
	width: 181px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 7px;
	left: 86px;
}

#u1970-4
{
	z-index: 101;
	width: 181px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 217px;
	left: 85px;
}

#u5160-4
{
	z-index: 105;
	width: 181px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 97px;
	left: 85px;
}

#u1969
{
	z-index: 109;
	width: 259px;
	height: 1px;
	margin-right: -10000px;
	margin-top: 120px;
	left: 10px;
}

#u1880
{
	z-index: 110;
	width: 685px;
	min-height: 661px;
	margin-right: -10000px;
	margin-top: 10px;
}

#u2076
{
	z-index: 118;
	width: 685px;
	height: 10px;
	margin-right: -10000px;
	margin-top: 661px;
}

#u2514
{
	z-index: 119;
	width: 685px;
	height: 10px;
	margin-right: -10000px;
	left: 1px;
}

#u1842
{
	z-index: 120;
	width: 1020px;
	height: 750px;
	margin-right: -10000px;
}

#u2054-6
{
	z-index: 122;
	width: 710px;
	min-height: 77px;
}

#u2513
{
	z-index: 129;
	width: 1020px;
	height: 10px;
}

#u1895
{
	z-index: 121;
	width: 1020px;
	min-height: 660px;
}

#u2512
{
	z-index: 128;
	width: 1020px;
	height: 10px;
	top: -7px;
	margin-bottom: -7px;
}

#u1845
{
	z-index: 130;
	width: 310px;
	margin-right: -10000px;
	left: 710px;
}

#u1846
{
	width: 154px;
	left: 155px;
}

#u1846:hover
{
	width: 154px;
	min-height: 0px;
	margin: 0px;
}

#u1957-4
{
	z-index: 132;
	width: 155px;
	min-height: 35px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u1846:hover #u1957-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 155px;
	margin: -1px -10000px 0px 0px;
}

#u1846.PamphletThumbSelected #u1957-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 155px;
	margin: -1px -10000px 0px 0px;
}

#u1847
{
	width: 154px;
}

#u1846.PamphletThumbSelected,#u1847:hover
{
	width: 154px;
	min-height: 0px;
	margin: 0px;
}

#u1847.PamphletThumbSelected
{
	width: 154px;
	min-height: 0px;
	margin: 0px;
}

#u1912-4
{
	z-index: 137;
	width: 155px;
	min-height: 35px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u1847:hover #u1912-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 155px;
	margin: -1px -10000px 0px 0px;
}

#u1847.PamphletThumbSelected #u1912-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 35px;
	width: 155px;
	margin: -1px -10000px 0px 0px;
}

#pu1452
{
	width: 0.01px;
	margin-top: 17px;
}

#u1452
{
	z-index: 141;
	width: 1020px;
	height: 48px;
	margin-right: -10000px;
}

.ie #u1452
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#accordionu1983
{
	z-index: 142;
	width: 708px;
	padding-bottom: 0px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 9px;
	left: -1px;
}

#u2000
{
	z-index: 143;
	width: 708px;
	padding-bottom: 0px;
}

#u2003-4
{
	z-index: 144;
	width: 694px;
	min-height: 14px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2003-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 694px;
	margin: 0px;
}

#u2003-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 694px;
	margin: 0px;
}

#u2003-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 696px;
	margin: 0px;
}

#u2001
{
	z-index: 148;
	width: 690px;
	padding: 11px 9px 20px;
}

#u2042
{
	z-index: 149;
	width: 681px;
	padding-left: 9px;
	padding-top: 13px;
	padding-bottom: 14px;
}

#headerTop, #headerBottom,#pu2063-6,#paccordionu1511,#pu2043
{
	width: 0.01px;
}

#u2043
{
	z-index: 150;
	width: 18px;
	height: 20px;
	margin-right: -10000px;
}

#u2046-4
{
	z-index: 159;
	width: 91px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 31px;
}

#u2395-4
{
	z-index: 164;
	width: 118px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 152px;
}

#u2395-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 1px -10000px 0px 0px;
}

#u2044-4
{
	z-index: 151;
	width: 307px;
	min-height: 17px;
	margin-left: 18px;
	margin-top: 5px;
}

#u2045-4
{
	z-index: 155;
	width: 663px;
	min-height: 17px;
	margin-left: 18px;
	margin-top: 6px;
}

#u2053
{
	z-index: 163;
	width: 690px;
	height: 3px;
	margin-top: 8px;
}

#widgetu3008
{
	z-index: 168;
	width: 0.01px;
	height: 129px;
	margin-top: 8px;
}

#u3018-4
{
	z-index: 169;
	width: 232px;
	min-height: 14px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 111px;
}

#u3009-4
{
	z-index: 173;
	width: 232px;
	min-height: 14px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 111px;
}

#searchingForm.frm-sub-st #sendingSearchingForm, #searchingForm.frm-subm-ok-st #u465-3,#widgetu3008.frm-sub-st #u3018-4,#widgetu3008.frm-subm-err-st #u3009-4
{
	min-height: 18px;
}

#u3031-4
{
	z-index: 177;
	width: 232px;
	min-height: 12px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 111px;
}

#widgetu3008.frm-subm-ok-st #u3031-4
{
	min-height: 16px;
}

#u3041-17
{
	z-index: 181;
	min-height: 39px;
	width: 113px;
	margin-right: -10000px;
	margin-top: 76px;
	left: 581px;
}

#widgetu3010
{
	z-index: 198;
	width: 575px;
	height: 110px;
	margin-right: -10000px;
	left: -2px;
}

#widgetu3010.fld-err-st
{
	width: 575px;
	height: 110px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3012-4
{
	z-index: 199;
	width: 115px;
	min-height: 24px;
	margin-right: -10000px;
	left: 2px;
}

#widgetu3010.fld-err-st #u3012-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 116px;
	margin: 0px -9999px 1px 0px;
}

#u3013-3
{
	z-index: 203;
	width: 559px;
	min-height: 71px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 23px;
}

#widgetu3010:hover #u3013-3
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 71px;
	width: 559px;
	margin: 23px -10000px 0px 0px;
}

#widgetu3010.focus-st #u3013-3
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 71px;
	width: 559px;
	margin: 23px -10000px 0px 0px;
}

#widgetu3010.fld-err-st #u3013-3
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 71px;
	width: 559px;
	margin: 23px -10000px 0px 0px;
}

#widgetu3010_input
{
	width: 559px;
	min-height: 71px;
	padding: 6px;
}

#searchingArea:hover #searchingTxt, #searchingArea.focus-st #searchingTxt, #searchingArea.fld-err-st #searchingTxt,#widgetu3010:hover #widgetu3010_input,#widgetu3010.focus-st #widgetu3010_input,#widgetu3010.fld-err-st #widgetu3010_input
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#footer
{
	z-index: 2;
	width: 1002px;
	margin-top: 25px;
	padding: 29px 5px 2px 13px;
}

#footerUniversityInform
{
	z-index: 3;
	width: 1002px;
	min-height: 20px;
}

#footerContacts
{
	width: 0.01px;
	margin-top: 8px;
}

#addressIcon
{
	z-index: 19;
	width: 13px;
	height: 23px;
	margin-right: -10000px;
	margin-top: 5px;
}

#footerAdsressInform
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 6px;
	margin-left: 17px;
}

#addressFooter
{
	z-index: 7;
	width: 369px;
	min-height: 20px;
}

#designerName
{
	z-index: 11;
	width: 369px;
	min-height: 20px;
	margin-top: 8px;
}

#footerVline
{
	z-index: 20;
	width: 1px;
	height: 79px;
	margin-right: -10000px;
	left: 395px;
}

#callIcon
{
	z-index: 22;
	width: 20px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 405px;
}

#fotterPhones
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 6px;
	margin-left: 434px;
}

#institutePhone
{
	z-index: 24;
	width: 106px;
	min-height: 20px;
}

#designerPhone
{
	z-index: 28;
	width: 106px;
	min-height: 20px;
	margin-top: 8px;
}

#fotterVline2
{
	z-index: 21;
	width: 1px;
	height: 79px;
	margin-right: -10000px;
	left: 549px;
}

#emailIcon
{
	z-index: 23;
	width: 31px;
	height: 20px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 559px;
}

#footerEmails
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 598px;
}

#instituteEmail
{
	z-index: 32;
	width: 126px;
	min-height: 20px;
}

#designerEmail
{
	z-index: 36;
	width: 126px;
	min-height: 20px;
	margin-top: 8px;
}

#allRightsInform
{
	z-index: 15;
	width: 369px;
	min-height: 20px;
	margin-left: 17px;
	margin-top: 7px;
}

body
{
	position: relative;
	min-width: 1020px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

