.version.authorpage /* version checker */
{
	color: #0000F0;
	background-color: #922106;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1080px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
}

#nameAndMenu
{
	z-index: 114;
	width: 582px;
	min-height: 72px;
	margin-right: -10000px;
	left: 438px;
}

#magazineName
{
	z-index: 117;
	width: 438px;
	min-height: 72px;
	margin-right: -10000px;
}

#magazineMenu
{
	z-index: 121;
	width: 578px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 438px;
}

#homeButtonMenu
{
	width: 114px;
	min-height: 32px;
	margin-right: -10000px;
}

#homeButton
{
	width: 114px;
	padding-bottom: 15px;
}

#homeButton:active
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#homeButTxt
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
	top: 7px;
}

#homeButton:hover #homeButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#homeButton:active #homeButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#publicationsButtonMenu
{
	width: 114px;
	min-height: 32px;
	margin-right: -10000px;
	left: 116px;
}

#publicationsButton
{
	width: 114px;
	padding-bottom: 15px;
}

#homeButton.menuActive, #publicationsButton:active
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#publicationsButTxt
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
	top: 7px;
}

#homeButton.menuActive #homeButTxt, #publicationsButton:hover #publicationsButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#publicationsButton:active #publicationsButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#seminarButtonMenu
{
	width: 114px;
	min-height: 32px;
	margin-right: -10000px;
	left: 232px;
}

#seminarButton
{
	width: 114px;
	padding-bottom: 15px;
}

#publicationsButton.menuActive, #seminarButton:active
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#seminarButTxt
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
	top: 7px;
}

#publicationsButton.menuActive #publicationsButTxt, #seminarButton:hover #seminarButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#seminarButton:active #seminarButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#publishButtonMenu
{
	width: 114px;
	min-height: 32px;
	margin-right: -10000px;
	left: 348px;
}

#publishButton
{
	width: 114px;
	padding-bottom: 15px;
}

#seminarButton.menuActive, #publishButton:active
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#publishButTxt
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
	top: 7px;
}

#seminarButton.menuActive #seminarButTxt, #publishButton:hover #publishButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#publishButton:active #publishButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#contactsButtonMenu
{
	width: 114px;
	min-height: 32px;
	margin-right: -10000px;
	left: 464px;
}

#contactsButton
{
	width: 114px;
	padding-bottom: 15px;
}

#publishButton.menuActive, #contactsButton:active
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#contactsButton.menuActive
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#contactsButTxt
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
	top: 7px;
}

#publishButton.menuActive #publishButTxt, #contactsButton:hover #contactsButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#contactsButton:active #contactsButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#contactsButton.menuActive #contactsButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#page_position_content, #headerTop, #headerBottom
{
	width: 0.01px;
}

#headerFontDark
{
	z-index: 112;
	width: 1020px;
	padding-bottom: 126px;
	margin-right: -10000px;
}

#headerFontTopPart
{
	z-index: 113;
	width: 1020px;
	height: 2px;
	margin-right: -10000px;
	margin-top: 65px;
}

#headerContent
{
	z-index: 152;
	width: 994px;
	padding-bottom: 7px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 13px;
}

#pu3081-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 13px;
	margin-left: 10px;
}

#u3081-4
{
	z-index: 188;
	width: 390px;
	min-height: 30px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 12px;
	position: relative;
}

#pu3087
{
	width: 0.01px;
	margin-top: 17px;
}

#u3087
{
	z-index: 212;
	width: 58px;
	height: 78px;
	border-width: 2px;
	border-style: solid;
	border-color: #E8E8E8;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	background: #EBEBEB url("../images/noPhotoMan.png") no-repeat center center;
	background-size: contain;
}

#pu3085-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-left: 78px;
}

#u3085-4
{
	z-index: 200;
	width: 181px;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	font-style: italic;
	position: relative;
}

#u3084-4
{
	z-index: 204;
	width: 181px;
	min-height: 14px;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	font-style: italic;
	margin-top: 4px;
	position: relative;
}

#u3086-4
{
	z-index: 208;
	width: 255px;
	min-height: 57px;
	background-color: transparent;
	line-height: 14px;
	color: #FFFFFF;
	font-size: 12px;
	font-style: italic;
	position: relative;
	margin-right: -10000px;
	margin-top: 95px;
	left: 412px;
}

#advancedSearchButton
{
	z-index: 184;
	width: 78px;
	min-height: 10px;
	margin-right: -10000px;
	margin-top: 119px;
	left: 915px;
}

#advancedSearchButton:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 78px;
	margin: 119px -10000px 0px 0px;
}

#advancedSearchButton:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 78px;
	margin: 119px -10000px 0px 0px;
}

#searchingForm
{
	z-index: 153;
	width: 0.01px;
	height: 59px;
	margin-right: -10000px;
	margin-top: 100px;
	left: 735px;
}

#searchingArea
{
	z-index: 154;
	width: 192px;
	height: 28px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 32px;
	left: -1px;
}

#searchingArea.fld-err-st
{
	width: 192px;
	height: 28px;
	min-height: 0px;
	margin: 32px -10000px -1px 0px;
}

#searchingBox
{
	z-index: 155;
	width: 162px;
	min-height: 14px;
	margin-right: -10000px;
	padding: 6px 6px 6px 22px;
}

#searchingArea:hover #searchingBox
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#searchingArea.focus-st #searchingBox
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#searchingArea.fld-err-st #searchingBox
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#searchingTxt
{
	width: 162px;
	min-height: 14px;
	padding: 6px 6px 6px 22px;
}

#searchingArea:hover #searchingTxt, #searchingArea.focus-st #searchingTxt, #searchingArea.fld-err-st #searchingTxt
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#sendingSearchingForm
{
	z-index: 159;
	width: 152px;
	min-height: 14px;
	padding-top: 4px;
	margin-right: -10000px;
}

#searchingError
{
	z-index: 163;
	width: 152px;
	min-height: 28px;
	padding-top: 4px;
	margin-right: -10000px;
}

#searchingForm.frm-subm-err-st #searchingError
{
	min-height: 32px;
}

#u465-3
{
	z-index: 167;
	width: 152px;
	min-height: 14px;
	padding-top: 4px;
	margin-right: -10000px;
}

#searchingForm.frm-sub-st #sendingSearchingForm, #searchingForm.frm-subm-ok-st #u465-3
{
	min-height: 18px;
}

#searchButton
{
	z-index: 170;
	min-height: 25px;
	width: 24px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 4px;
}

#searchingSign
{
	z-index: 183;
	width: 15px;
	height: 15px;
	margin-right: -10000px;
	margin-top: 140px;
	left: 739px;
}

#u3082-4
{
	z-index: 192;
	width: 510px;
	min-height: 56px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 0px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 16px;
	left: 425px;
}

#u3083-4
{
	z-index: 196;
	width: 510px;
	min-height: 29px;
	background-color: transparent;
	line-height: 22px;
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: -1px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	left: 425px;
}

#pamphletu3095
{
	z-index: 40;
	width: 0.01px;
	height: 89px;
	padding-bottom: 450px;
	margin-top: 13px;
	position: relative;
}

#u3096
{
	z-index: 41;
	width: 288px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#pu3103
{
	position: absolute;
	width: 0.01px;
	top: 1px;
	left: 1px;
}

#u3103
{
	position: absolute;
	width: 286px;
	height: 39px;
	border-width: 1px;
	border-style: solid;
	border-color: #DEDEDE;
	background-color: #DEDEDE;
}

#pu3103.PamphletThumbSelected #u3103
{
	width: 287px;
	height: 40px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#pu3103:hover #u3103
{
	width: 286px;
	height: 39px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #DEDEDE;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

#u3104-4
{
	z-index: 44;
	width: 282px;
	min-height: 35px;
	-pie-box-shadow: 6px 6px 8px #7F9CA3;
	box-shadow: 6px 6px 8px rgba(0,58,72,0.5);
	background: #EBEBEB url("../images/u4076-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#ABAAAB),color-stop(100%, #EBEBEB));
	background: -webkit-linear-gradient(left,#ABAAAB ,#EBEBEB 100%);
	background: linear-gradient(to right,#ABAAAB ,#EBEBEB 100%);
	border-width: 3px;
	border-style: solid;
	border-color: #7F7F7F;
	color: #2D2D2D;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu3103:hover #u3104-4
{
	background: #EBEBEB url("../images/u4076-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#FFFFFF),color-stop(100%, #EBEBEB));
	background: -webkit-linear-gradient(left,#FFFFFF ,#EBEBEB 100%);
	background: linear-gradient(to right,#FFFFFF ,#EBEBEB 100%);
	border-width: 3px;
	border-style: solid;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 282px;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
	min-height: 35px;
}

#pu3103.PamphletThumbSelected #u3104-4
{
	background: #EBEBEB url("../images/u4076-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#FFFFFF),color-stop(100%, #EBEBEB));
	background: -webkit-linear-gradient(left,#FFFFFF ,#EBEBEB 100%);
	background: linear-gradient(to right,#FFFFFF ,#EBEBEB 100%);
	border-width: 2px;
	border-style: solid;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 283px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	min-height: 36px;
}

#pu3103:hover #u3104-4 p
{
	text-decoration: underline;
}

#pu3097
{
	position: absolute;
	width: 0.01px;
	top: 51px;
	left: 1px;
}

#u3097
{
	position: absolute;
	width: 286px;
	height: 39px;
	border-width: 1px;
	border-style: solid;
	border-color: #C4C4C4;
	background-color: #C4C4C4;
}

#pu3097.PamphletThumbSelected #u3097
{
	width: 287px;
	height: 40px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 1px;
}

#pu3097:hover #u3097
{
	width: 286px;
	height: 39px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: #C4C4C4;
	top: 0px;
	margin-top: 0px;
	left: 0px;
	margin-left: 0px;
	min-height: 0px;
}

.ie #pu3103.PamphletThumbSelected #u3103,.ie #pu3097.PamphletThumbSelected #u3097
{
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}

#u3098-4
{
	z-index: 52;
	width: 282px;
	min-height: 35px;
	-pie-box-shadow: 6px 6px 8px #7F9CA3;
	box-shadow: 6px 6px 8px rgba(0,58,72,0.5);
	background: #EBEBEB url("../images/u4076-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#ABAAAB),color-stop(100%, #EBEBEB));
	background: -webkit-linear-gradient(left,#ABAAAB ,#EBEBEB 100%);
	background: linear-gradient(to right,#ABAAAB ,#EBEBEB 100%);
	border-width: 3px;
	border-style: solid;
	border-color: #7F7F7F;
	color: #2D2D2D;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
}

#pu3097:hover #u3098-4
{
	background: #EBEBEB url("../images/u4076-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#FFFFFF),color-stop(100%, #EBEBEB));
	background: -webkit-linear-gradient(left,#FFFFFF ,#EBEBEB 100%);
	background: linear-gradient(to right,#FFFFFF ,#EBEBEB 100%);
	border-width: 3px;
	border-style: solid;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 282px;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
	min-height: 35px;
}

#pu3097.PamphletThumbSelected #u3098-4
{
	background: #EBEBEB url("../images/u4076-r-grad.png") repeat-y left top;
	background: -webkit-gradient(linear, left center, right center, from(#FFFFFF),color-stop(100%, #EBEBEB));
	background: -webkit-linear-gradient(left,#FFFFFF ,#EBEBEB 100%);
	background: linear-gradient(to right,#FFFFFF ,#EBEBEB 100%);
	border-width: 2px;
	border-style: solid;
	padding-top: 0px;
	padding-bottom: 0px;
	position: relative;
	width: 283px;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
	min-height: 36px;
}

#pu3097:hover #u3098-4 p
{
	text-decoration: underline;
}

#pu3103.PamphletThumbSelected #u3104-4 p,#pu3097.PamphletThumbSelected #u3098-4 p
{
	text-decoration: none;
}

#u3104-2,#u3098-2
{
	padding-left: 9px;
	padding-top: 10px;
}

#pu3103 #u3104-4,#pu3097 #u3098-4
{
	position: relative;
	width: 288px;
	margin-right: -10000px;
	margin-top: -2px;
	left: -2px;
}

#u3107
{
	position: absolute;
	width: 725px;
	background-color: transparent;
	left: 297px;
}

#u3107popup
{
	z-index: 58;
}

#u3108
{
	z-index: 59;
	width: 725px;
	height: 539px;
	border-style: none;
	border-color: #999999;
	background-color: transparent;
	margin-right: -10000px;
	position: relative;
}

#u3108_position_content
{
	margin-top: -1px;
	padding-bottom: 420px;
}

#u4008-4
{
	z-index: 99;
	width: 721px;
	min-height: 37px;
	-pie-box-shadow: 6px 6px 8px #7F9CA3;
	box-shadow: 6px 6px 8px rgba(0,58,72,0.5);
	background: -webkit-gradient(linear, left center, right center, from(#FAF8F5),color-stop(100%, #EBEBEB));
	background: -webkit-linear-gradient(left,#FAF8F5 ,#EBEBEB 100%);
	background: linear-gradient(to right,#FAF8F5 ,#EBEBEB 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFAF8F5, endColorstr=#FFEBEBEB, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFAF8F5', endColorstr='#FFEBEBEB', GradientType=1)";
	border-width: 2px;
	border-style: solid;
	border-color: #7F7F7F;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
}

#u3987
{
	z-index: 60;
	width: 690px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: 18px;
	margin-top: 17px;
	position: relative;
}

#u3998
{
	z-index: 80;
	width: 690px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u3999
{
	z-index: 81;
	width: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u4000
{
	z-index: 82;
	width: 24px;
	border-width: 2px;
	border-style: solid;
	border-color: #0F0F05;
	background-color: #FAF8F5;
	position: relative;
	margin-right: -10000px;
}

#u4001-4
{
	z-index: 83;
	width: 26px;
	min-height: 30px;
	background-color: #FAF8F5;
	text-align: center;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4002
{
	z-index: 87;
	width: 116px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 26px;
}

#u4003
{
	z-index: 88;
	width: 112px;
	border-width: 2px;
	border-style: solid;
	border-color: #0F0F05;
	background-color: #FAF8F5;
	position: relative;
	margin-right: -10000px;
}

#u4004-4
{
	z-index: 89;
	width: 114px;
	min-height: 30px;
	background-color: #FAF8F5;
	text-align: center;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4005
{
	z-index: 93;
	width: 549px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 141px;
}

#u4007
{
	z-index: 94;
	width: 545px;
	border-width: 2px;
	border-style: solid;
	border-color: #0F0F05;
	background-color: #FAF8F5;
	position: relative;
	margin-right: -10000px;
}

#u4006-4
{
	z-index: 95;
	width: 547px;
	min-height: 30px;
	background-color: #FAF8F5;
	text-align: center;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u3988
{
	z-index: 61;
	width: 690px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	top: -2px;
	margin-bottom: -2px;
	position: relative;
}

#u3992
{
	z-index: 62;
	width: 550px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 140px;
}

#u3994
{
	z-index: 63;
	width: 546px;
	border-width: 2px;
	border-style: solid;
	border-color: #0F0F05;
	background-color: #FAF8F5;
	position: relative;
	margin-right: -10000px;
}

#u3993-4
{
	z-index: 64;
	width: 548px;
	min-height: 30px;
	background-color: #FAF8F5;
	text-align: left;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u3993-2
{
	padding-left: 4px;
	padding-top: 4px;
}

#u3995
{
	z-index: 68;
	width: 28px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u3997
{
	z-index: 69;
	width: 24px;
	border-width: 2px;
	border-style: solid;
	border-color: #0F0F05;
	background-color: #FAF8F5;
	position: relative;
	margin-right: -10000px;
}

#u3996-4
{
	z-index: 70;
	width: 26px;
	min-height: 30px;
	background-color: #FAF8F5;
	text-align: center;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u3989
{
	z-index: 74;
	width: 116px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 26px;
}

#u3991
{
	z-index: 75;
	width: 112px;
	border-width: 2px;
	border-style: solid;
	border-color: #0F0F05;
	background-color: #FAF8F5;
	position: relative;
	margin-right: -10000px;
}

#u3990-4
{
	z-index: 76;
	width: 114px;
	min-height: 30px;
	background-color: #FAF8F5;
	text-align: center;
	line-height: 21px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u4001-2,#u4004-2,#u4006-2,#u3996-2,#u3990-2
{
	padding-top: 4px;
}

#u3116
{
	z-index: 103;
	width: 724px;
	height: 538px;
	border-width: 1px;
	border-style: solid;
	border-color: #999999;
	background-color: transparent;
	margin-bottom: -1px;
	margin-right: -10000px;
	position: relative;
}

#u3116_position_content
{
	margin-top: -2px;
	padding-bottom: 367px;
}

#u4009-4
{
	z-index: 108;
	width: 721px;
	min-height: 37px;
	-pie-box-shadow: 6px 6px 8px #7F9CA3;
	box-shadow: 6px 6px 8px rgba(0,58,72,0.5);
	background: -webkit-gradient(linear, left center, right center, from(#FAF8F5),color-stop(100%, #EBEBEB));
	background: -webkit-linear-gradient(left,#FAF8F5 ,#EBEBEB 100%);
	background: linear-gradient(to right,#FAF8F5 ,#EBEBEB 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#FFFAF8F5, endColorstr=#FFEBEBEB, GradientType=1);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFAF8F5', endColorstr='#FFEBEBEB', GradientType=1)";
	border-width: 2px;
	border-style: solid;
	border-color: #7F7F7F;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	left: -2px;
	position: relative;
}

#u4008-2,#u4009-2
{
	padding-left: 10px;
	padding-top: 9px;
}

#u3118-4
{
	z-index: 104;
	width: 595px;
	min-height: 106px;
	background-color: transparent;
	line-height: 50px;
	color: #7F7F7F;
	font-size: 34px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 41px;
	margin-top: 26px;
	position: relative;
}

.PamphletWidget .ThumbGroup .Thumb,.PamphletNextButton,.PamphletPrevButton,.PamphletCloseButton /* pamphlet2 */
{
	cursor: pointer;
}

#footer
{
	z-index: 2;
	width: 1002px;
	margin-top: 98px;
	padding: 29px 5px 2.4999999999998863px 13px;
}

#footerUniversityInform
{
	z-index: 3;
	width: 1002px;
	min-height: 20px;
}

#footerContacts
{
	width: 0.01px;
	margin-top: 8px;
}

#addressIcon
{
	z-index: 19;
	width: 13px;
	height: 23px;
	margin-right: -10000px;
	margin-top: 5px;
}

#footerAdsressInform
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 6px;
	margin-left: 17px;
}

#addressFooter
{
	z-index: 7;
	width: 369px;
	min-height: 20px;
}

#designerName
{
	z-index: 11;
	width: 369px;
	min-height: 20px;
	margin-top: 8px;
}

#footerVline
{
	z-index: 20;
	width: 1px;
	height: 79px;
	margin-right: -10000px;
	left: 395px;
}

#callIcon
{
	z-index: 22;
	width: 20px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 405px;
}

#fotterPhones
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 6px;
	margin-left: 434px;
}

#institutePhone
{
	z-index: 24;
	width: 106px;
	min-height: 20px;
}

#designerPhone
{
	z-index: 28;
	width: 106px;
	min-height: 20px;
	margin-top: 8px;
}

#fotterVline2
{
	z-index: 21;
	width: 1px;
	height: 79px;
	margin-right: -10000px;
	left: 549px;
}

#emailIcon
{
	z-index: 23;
	width: 31px;
	height: 20px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 559px;
}

#footerEmails
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 598px;
}

#instituteEmail
{
	z-index: 32;
	width: 126px;
	min-height: 20px;
}

#designerEmail
{
	z-index: 36;
	width: 126px;
	min-height: 20px;
	margin-top: 8px;
}

#allRightsInform
{
	z-index: 15;
	width: 369px;
	min-height: 20px;
	margin-left: 17px;
	margin-top: 6px;
}

body
{
	position: relative;
	min-width: 1020px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

