#headerUniversityName
{
	background-color: transparent;
	line-height: 23px;
	color: #E8E8E8;
	font-size: 19px;
	font-family: Times, Times New Roman, Georgia, serif;
	font-weight: bold;
	position: relative;
}

#institutePict
{
	position: relative;
	background: transparent url("../images/nniSign.png") no-repeat left top;
}

#headerInstituteName
{
	background-color: transparent;
	line-height: 38px;
	color: #E8E8E8;
	font-size: 32px;
	font-family: Times, Times New Roman, Georgia, serif;
	font-weight: bold;
	position: relative;
}

