
.mainContent {
    float: left;
    margin-left: 180px;
    width: 630px;
}

.barHeader {
    text-align: center;
}

.displayLine .formField {
    display: inline-block;
    float: left;
    border-color: #ff0000;
    border-width: 2px;
}


#sexField, #adminField {
    border: 1px solid #D7D7D7;
    width: 280px;
    float: left;
    padding: 10px;
    margin-bottom: 20px;
}

#sexField {
    margin-right: 26px;
}
#sexField input, #adminChBox {
    width: 10px;
}

#adminField label, #userSexLabel, #adminChBox  {
    margin: 0px;
}

#userSex span, #sexField label {
    float: left;
    display: inline-block;
}
