.version.report /* version checker */
{
	color: #00000E;
	background-color: #413797;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1020px;
	min-height: 1079.8000000000002px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#nameAndMenu
{
	z-index: 151;
	width: 582px;
	min-height: 72px;
	margin-right: -10000px;
	left: 438px;
}

#magazineName
{
	z-index: 154;
	width: 438px;
	min-height: 72px;
	margin-right: -10000px;
}

#magazineMenu
{
	z-index: 158;
	width: 578px;
	margin-right: -10000px;
	margin-top: 20px;
	left: 438px;
}

#homeButtonMenu
{
	width: 114px;
	min-height: 32px;
	margin-right: -10000px;
}

#homeButton
{
	width: 114px;
	padding-bottom: 15px;
}

#homeButton:active
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#homeButTxt
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
	top: 7px;
}

#homeButton:hover #homeButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#homeButton:active #homeButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#publicationsButtonMenu
{
	width: 114px;
	min-height: 32px;
	margin-right: -10000px;
	left: 116px;
}

#publicationsButton
{
	width: 114px;
	padding-bottom: 15px;
}

#homeButton.menuActive, #publicationsButton:active
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#publicationsButTxt
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
	top: 7px;
}

#homeButton.menuActive #homeButTxt, #publicationsButton:hover #publicationsButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#publicationsButton:active #publicationsButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#seminarButtonMenu
{
	width: 114px;
	min-height: 32px;
	margin-right: -10000px;
	left: 232px;
}

#seminarButton
{
	width: 114px;
	padding-bottom: 15px;
}

#publicationsButton.menuActive, #seminarButton:active
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#seminarButTxt
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
	top: 7px;
}

#publicationsButton.menuActive #publicationsButTxt, #seminarButton:hover #seminarButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#seminarButton:active #seminarButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#publishButtonMenu
{
	width: 114px;
	min-height: 32px;
	margin-right: -10000px;
	left: 348px;
}

#publishButton
{
	width: 114px;
	padding-bottom: 15px;
}

#seminarButton.menuActive, #publishButton:active
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#publishButTxt
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
	top: 7px;
}

#seminarButton.menuActive #seminarButTxt, #publishButton:hover #publishButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#publishButton:active #publishButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#contactsButtonMenu
{
	width: 114px;
	min-height: 32px;
	margin-right: -10000px;
	left: 464px;
}

#contactsButton
{
	width: 114px;
	padding-bottom: 15px;
}

#publishButton.menuActive, #contactsButton:active
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#contactsButton.menuActive
{
	width: 114px;
	min-height: 0px;
	margin: 0px;
}

#contactsButTxt
{
	width: 114px;
	min-height: 17px;
	margin-right: -10000px;
	top: 7px;
}

#publishButton.menuActive #publishButTxt, #contactsButton:hover #contactsButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#contactsButton:active #contactsButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#contactsButton.menuActive #contactsButTxt
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 114px;
	margin: 0px -10000px 0px 0px;
}

#headerFontDark
{
	z-index: 149;
	width: 1020px;
	padding-bottom: 126px;
	margin-right: -10000px;
}

#headerFontTopPart
{
	z-index: 150;
	width: 1020px;
	height: 2px;
	margin-right: -10000px;
	margin-top: 65px;
}

#headerContent
{
	z-index: 189;
	width: 994px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 13px;
}

#u2080
{
	z-index: 225;
	width: 687px;
	padding-bottom: 4px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 9px;
}

#u2087
{
	z-index: 243;
	width: 58px;
	height: 78px;
	margin-right: -10000px;
	margin-top: 44px;
	left: 9px;
}

#u2083-4
{
	z-index: 227;
	width: 181px;
	min-height: 38px;
	margin-right: -10000px;
	margin-top: 91px;
	left: 88px;
}

#u2082
{
	z-index: 226;
	width: 1px;
	height: 101px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 274px;
}

#pu2308-4
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 8px;
	margin-left: 281px;
}

#u2308-4
{
	z-index: 244;
	width: 156px;
	min-height: 22px;
	margin-left: 241px;
}

#u2081-4
{
	z-index: 252;
	width: 405px;
	min-height: 96px;
	margin-top: 9px;
}

#advancedSearchButton
{
	z-index: 221;
	width: 78px;
	min-height: 10px;
	margin-right: -10000px;
	margin-top: 119px;
	left: 915px;
}

#advancedSearchButton:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 78px;
	margin: 119px -10000px 0px 0px;
}

#advancedSearchButton:active
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 10px;
	width: 78px;
	margin: 119px -10000px 0px 0px;
}

#searchingForm
{
	z-index: 190;
	width: 0.01px;
	height: 59px;
	margin-right: -10000px;
	margin-top: 100px;
	left: 735px;
}

#searchingArea
{
	z-index: 191;
	width: 192px;
	height: 28px;
	margin-bottom: -1px;
	margin-right: -10000px;
	margin-top: 32px;
	left: -1px;
}

#searchingArea.fld-err-st
{
	width: 192px;
	height: 28px;
	min-height: 0px;
	margin: 32px -10000px -1px 0px;
}

#searchingBox
{
	z-index: 192;
	width: 162px;
	min-height: 14px;
	margin-right: -10000px;
	padding: 6px 6px 6px 22px;
}

#searchingArea:hover #searchingBox
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#searchingArea.focus-st #searchingBox
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#searchingArea.fld-err-st #searchingBox
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 14px;
	width: 162px;
	margin: 0px -10000px 0px 0px;
}

#searchingTxt
{
	width: 162px;
	min-height: 14px;
	padding: 6px 6px 6px 22px;
}

#sendingSearchingForm
{
	z-index: 196;
	width: 152px;
	min-height: 14px;
	padding-top: 4px;
	margin-right: -10000px;
}

#searchingError
{
	z-index: 200;
	width: 152px;
	min-height: 28px;
	padding-top: 4px;
	margin-right: -10000px;
}

#searchingForm.frm-subm-err-st #searchingError
{
	min-height: 32px;
}

#u465-3
{
	z-index: 204;
	width: 152px;
	min-height: 14px;
	padding-top: 4px;
	margin-right: -10000px;
}

#searchButton
{
	z-index: 207;
	min-height: 25px;
	width: 24px;
	margin-right: -10000px;
	margin-top: 36px;
	left: 4px;
}

#searchingSign
{
	z-index: 220;
	width: 15px;
	height: 15px;
	margin-right: -10000px;
	margin-top: 140px;
	left: 739px;
}

#u2084-4
{
	z-index: 231;
	width: 181px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 108px;
	left: 110px;
}

#u2085-4
{
	z-index: 235;
	width: 181px;
	min-height: 14px;
	margin-right: -10000px;
	margin-top: 94px;
	left: 110px;
}

#u2086-4
{
	z-index: 239;
	width: 181px;
	min-height: 18px;
	margin-right: -10000px;
	margin-top: 76px;
	left: 110px;
}

#u2086-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 18px;
	width: 181px;
	margin: 76px -10000px 0px 0px;
}

#u2088-4
{
	z-index: 248;
	width: 513px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 39px;
	left: 30px;
}

#pu2494
{
	width: 0.01px;
	margin-top: 16px;
}

#u2494
{
	z-index: 40;
	width: 800px;
	padding-bottom: 0px;
	margin-right: -10000px;
}

#u2494_position_content
{
	margin-top: -1px;
	margin-bottom: -1px;
}

#accordionu2473
{
	z-index: 118;
	width: 800px;
	left: -1px;
}

#u2474
{
	z-index: 119;
	width: 800px;
}

#u2475-4
{
	z-index: 120;
	width: 786px;
	min-height: 15px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2475-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 786px;
	margin: 0px;
}

#u2475-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 786px;
	margin: 0px;
}

#u2476
{
	z-index: 124;
	width: 800px;
	padding-bottom: 17px;
}

#u2345
{
	z-index: 125;
	width: 764px;
	height: 613px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 18px;
}

#accordionu2447
{
	z-index: 45;
	width: 800px;
	padding-bottom: 0px;
	left: -1px;
	margin-top: 23px;
}

#u2448
{
	z-index: 46;
	width: 800px;
	padding-bottom: 0px;
}

#u2449-4
{
	z-index: 47;
	width: 786px;
	min-height: 15px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2449-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 786px;
	margin: 0px;
}

#u2449-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 786px;
	margin: 0px;
}

#u2475-4.AccordionPanelTabOpen,#u2449-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 16px;
	width: 788px;
	margin: 0px;
}

#u2450
{
	z-index: 51;
	width: 800px;
	padding-bottom: 0px;
}

#u2343
{
	z-index: 52;
	width: 800px;
	min-height: 781px;
}

#u2363
{
	z-index: 53;
	width: 800px;
	height: 10px;
	top: -4px;
	margin-bottom: -4px;
}

#u2093-4
{
	z-index: 41;
	width: 765px;
	min-height: 32px;
	margin-top: 7px;
}

#accordionu2459
{
	z-index: 54;
	width: 800px;
	left: -1px;
	margin-top: 14px;
}

#u2460
{
	z-index: 55;
	width: 800px;
}

#u2461-4
{
	z-index: 56;
	width: 786px;
	min-height: 14px;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

#u2461-4:hover
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 786px;
	margin: 0px;
}

#u2461-4:active
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 14px;
	width: 786px;
	margin: 0px;
}

#u2461-4.AccordionPanelTabOpen
{
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 15px;
	width: 788px;
	margin: 0px;
}

#u2462
{
	z-index: 60;
	width: 781px;
	padding: 11px 10px 0px 9px;
}

#u2465
{
	z-index: 61;
	width: 772px;
	padding-left: 9px;
	padding-top: 13px;
	padding-bottom: 14px;
}

#headerTop, #headerBottom,#pu2471
{
	width: 0.01px;
}

#u2471
{
	z-index: 62;
	width: 18px;
	height: 20px;
	margin-right: -10000px;
}

#u2464-4
{
	z-index: 71;
	width: 91px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 31px;
}

#u2468-4
{
	z-index: 76;
	width: 118px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 1px;
	left: 152px;
}

#u2468-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 118px;
	margin: 1px -10000px 0px 0px;
}

#u2463-4
{
	z-index: 63;
	width: 307px;
	min-height: 17px;
	margin-left: 18px;
	margin-top: 5px;
}

#u2466-4
{
	z-index: 67;
	width: 754px;
	min-height: 17px;
	margin-left: 18px;
	margin-top: 6px;
}

#u2469
{
	z-index: 75;
	width: 781px;
	height: 3px;
	margin-top: 8px;
}

#widgetu3062
{
	z-index: 80;
	width: 0.01px;
	height: 129px;
	margin-top: 7px;
}

#u3065-4
{
	z-index: 81;
	width: 232px;
	min-height: 14px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 111px;
}

#u3063-4
{
	z-index: 85;
	width: 232px;
	min-height: 14px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 111px;
}

#searchingForm.frm-sub-st #sendingSearchingForm, #searchingForm.frm-subm-ok-st #u465-3,#widgetu3062.frm-sub-st #u3065-4,#widgetu3062.frm-subm-err-st #u3063-4
{
	min-height: 18px;
}

#u3064-4
{
	z-index: 89;
	width: 232px;
	min-height: 12px;
	padding-top: 4px;
	margin-right: -10000px;
	margin-top: 111px;
}

#widgetu3062.frm-subm-ok-st #u3064-4
{
	min-height: 16px;
}

#u3074-17
{
	z-index: 93;
	min-height: 39px;
	width: 113px;
	margin-right: -10000px;
	margin-top: 76px;
	left: 674px;
}

#widgetu3070
{
	z-index: 110;
	width: 667px;
	height: 110px;
	margin-right: -10000px;
	left: -2px;
}

#widgetu3070.fld-err-st
{
	width: 667px;
	height: 110px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u3071-4
{
	z-index: 111;
	width: 115px;
	min-height: 24px;
	margin-right: -10000px;
	left: 2px;
}

#widgetu3070.fld-err-st #u3071-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 25px;
	width: 116px;
	margin: 0px -9999px 1px 0px;
}

#u3073-3
{
	z-index: 115;
	width: 651px;
	min-height: 71px;
	padding: 6px;
	margin-right: -10000px;
	margin-top: 23px;
}

#widgetu3070:hover #u3073-3
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 71px;
	width: 651px;
	margin: 23px -10000px 0px 0px;
}

#widgetu3070.focus-st #u3073-3
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 71px;
	width: 651px;
	margin: 23px -10000px 0px 0px;
}

#widgetu3070.fld-err-st #u3073-3
{
	padding-top: 6px;
	padding-bottom: 6px;
	min-height: 71px;
	width: 651px;
	margin: 23px -10000px 0px 0px;
}

#widgetu3070_input
{
	width: 651px;
	min-height: 71px;
	padding: 6px;
}

#searchingArea:hover #searchingTxt, #searchingArea.focus-st #searchingTxt, #searchingArea.fld-err-st #searchingTxt,#widgetu3070:hover #widgetu3070_input,#widgetu3070.focus-st #widgetu3070_input,#widgetu3070.fld-err-st #widgetu3070_input
{
	padding-top: 6px;
	padding-bottom: 6px;
}

#u2493
{
	z-index: 126;
	width: 220px;
	margin-right: -10000px;
	left: 800px;
}

#u2493_position_content
{
	padding-bottom: 133px;
}

#u2486-4
{
	z-index: 127;
	width: 220px;
	min-height: 40px;
}

#u2492
{
	z-index: 132;
	width: 218px;
	height: 2px;
	margin-left: 1px;
	margin-top: 79px;
}

#u2487
{
	z-index: 131;
	width: 218px;
	height: 2px;
	margin-right: -10000px;
	margin-top: 40px;
	left: 801px;
}

#u2488-4
{
	z-index: 133;
	width: 219px;
	min-height: 54px;
	margin-right: -10000px;
	margin-top: 43px;
	left: 801px;
}

#u2488-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 54px;
	width: 219px;
	margin: 43px -10000px 0px 0px;
}

#u2490-4
{
	z-index: 137;
	width: 219px;
	min-height: 21px;
	margin-right: -10000px;
	margin-top: 122px;
	left: 801px;
}

#u2490-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 21px;
	width: 219px;
	margin: 122px -10000px 0px 0px;
}

#u2489-4
{
	z-index: 141;
	width: 170px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 97px;
	left: 850px;
}

#u2489-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 170px;
	margin: 97px -10000px 0px 0px;
}

#u2491-4
{
	z-index: 145;
	width: 170px;
	min-height: 22px;
	margin-right: -10000px;
	margin-top: 143px;
	left: 850px;
}

#u2491-4:hover
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 22px;
	width: 170px;
	margin: 143px -10000px 0px 0px;
}

#footer
{
	z-index: 2;
	width: 1002px;
	margin-top: 25px;
	padding: 29px 5px 2px 13px;
}

#footerUniversityInform
{
	z-index: 3;
	width: 1002px;
	min-height: 20px;
}

#footerContacts
{
	width: 0.01px;
	margin-top: 8px;
}

#addressIcon
{
	z-index: 19;
	width: 13px;
	height: 23px;
	margin-right: -10000px;
	margin-top: 5px;
}

#footerAdsressInform
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 6px;
	margin-left: 17px;
}

#addressFooter
{
	z-index: 7;
	width: 369px;
	min-height: 20px;
}

#designerName
{
	z-index: 11;
	width: 369px;
	min-height: 20px;
	margin-top: 8px;
}

#footerVline
{
	z-index: 20;
	width: 1px;
	height: 79px;
	margin-right: -10000px;
	left: 395px;
}

#callIcon
{
	z-index: 22;
	width: 20px;
	height: 25px;
	margin-right: -10000px;
	margin-top: 3px;
	left: 405px;
}

#fotterPhones
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 6px;
	margin-left: 434px;
}

#institutePhone
{
	z-index: 24;
	width: 106px;
	min-height: 20px;
}

#designerPhone
{
	z-index: 28;
	width: 106px;
	min-height: 20px;
	margin-top: 8px;
}

#fotterVline2
{
	z-index: 21;
	width: 1px;
	height: 79px;
	margin-right: -10000px;
	left: 549px;
}

#emailIcon
{
	z-index: 23;
	width: 31px;
	height: 20px;
	margin-right: -10000px;
	margin-top: 5px;
	left: 559px;
}

#footerEmails
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 5px;
	margin-left: 598px;
}

#instituteEmail
{
	z-index: 32;
	width: 126px;
	min-height: 20px;
}

#designerEmail
{
	z-index: 36;
	width: 126px;
	min-height: 20px;
	margin-top: 8px;
}

#allRightsInform
{
	z-index: 15;
	width: 369px;
	min-height: 20px;
	margin-left: 17px;
	margin-top: 7px;
}

body
{
	position: relative;
	min-width: 1020px;
	padding-top: 36px;
	padding-bottom: 36px;
}

#page .verticalspacer
{
	clear: both;
}

