html {
	min-height: 100%;
	min-width: 100%;
	-ms-text-size-adjust: none;
}


body {
    font-size: 12px;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #787878;
    background-color: #E0E0E0;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 960px;
    margin: 0px auto
}

#header, .container {
    display: block;
    position: relative;
    width: 1020px;
    margin: 0 auto;
}

.magazineName {
    text-align: center;
    display: block;
    position: relative;
    margin: 0 auto;
    margin-top: 13px;
    margin-right: auto;
    margin-bottom: 10px;
    margin-left: auto;
    font-size: 70px;
    color: #292929;
    background-color: #E0E0E0;
    letter-spacing: -4px;
}


.banner {
    color: #E8E8E8;
    font-family: Times, Times New Roman, Georgia, serif;
    font-weight: bold;
    height: 210px;
    margin: 0px 0px 13px 0px;
    background: transparent url("../images/nubip.jpg");
    background-attachment: fixed !important;
    background-position: center center;
    background-repeat: no-repeat;
    /*opacity: 0.75;*/
}

.bannerTop, .bannerBottom, .content {
    width: 1020px;
    margin: 0 auto;
}



#topnav {
    z-index: 1000;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #999999;
}

/* NAVIGATION */

.nav, .nav *{margin:0; padding:0; list-style:none;}
.nav ul{position:absolute; top:-999em; width:10em;}
.nav ul li{width:100%;}
.nav li:hover{visibility:inherit;}
.nav li{position:relative; display:inline-block; zoom:1; *display:inline;}
.nav a{display:block; position:relative;}
.nav li:hover ul, .nav li.sfHover ul{left:0; top:2.5em; z-index:99;}
ul.nav li:hover li ul, ul.nav li.sfHover li ul{top:-999em;}


/* Default Colours */

.nav a{padding:.75em 1em; text-decoration:none; background-color:#E0E0E0;}
.nav li.active a{color:#999999;}
.nav a, .nav a:visited, .nav li.active li a{color:#333333;}
.nav li{background:#E0E0E0;}
.nav li li{background:#E0E0E0;}
.nav li:hover, .nav li.sfHover, .nav a:focus, .nav a:hover, .nav a:active{background:#C0C0C0;}

/* arrows */

.nav li a{padding-left:1.5em; text-align:left;}
.nav a.sf-with-ul{background:url("../images/nav_arrows.png") no-repeat 5px 16px;}


#topnav.fixed{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #c8c8c8;
}



hr {
    border-top: 1px solid #999999;
    margin: 2px;
}


.horizontalLine {
    height: 3px;
    clear: both;
    border: none;
    background-color: #d1d1d1;
    clear: both;
}



.headerUniversityName, .sectionName {
    margin: 0px 12px 19px 27px;
    padding-top: 13px;
    font-size: 20px;
    float: left;
    position: relative;
    letter-spacing: -0.5px;
}

#authForm {
    width: 358px;
}
#authForm, .adminLink {
    margin-right: 6px;
    font-size: 16px;
    text-align: right;
    position: relative;
    float: right;
}

.adminLink a, .userDetails a {
    color: #E8E8E8;
    text-decoration: none;
}

#authForm p a:link, .adminLink a:link {
    margin: 15px;
    text-decoration: none;
    color: #E8E8E8;
}

.userDetails a:link {
    text-decoration: none;
    color: #E8E8E8;
}

#authForm p a:visited, .userDetails a:visited  {
    color: #E8E8E8;
    text-decoration: none;
}

#authForm p a:active, .userDetails a:active {
    color: #1c94c4;
    text-decoration: underline;
}

#authForm p a:hover, .adminLink a:hover, .userDetails a:hover{
    color: #1c94c4;
    text-decoration: underline;
}


#bannerLine {
    height: 2px;
}

.instituteLogo, .userBannerPhoto {
    max-width: 81px;
    max-height: 98px;
    margin-left: 35px;
    margin-top: 25px;
    float: left;
}

.instituteLogo {
    background: transparent url("../images/nniSign.png") no-repeat left top;
}

.instituteHeaderName {
    line-height: 38px;
    font-size: 32px;
    margin: 20px 0px 0px 5px;
    float: left;
}

.userDetails {
    width: 500px;
    height: 90px;
    margin-left: 20px;
    margin-top: 25px;
    float: left;
    font-size: 16px;
    border-right: solid;
    border-color: #d1d1d1;
    border-width: 1px;
}

.userDetails p {
    margin: 0 0 4px 5px;
}

#currentDate, .currentDate {
    float: right;
    margin-top: -20px;
    margin-right: 20px;
    font-size: 20px;
    clear: both;
}



.content {
    clear: both;
    margin: 15px auto;
    display: block;
    width: 1020px;
}



.whiteBox {
    padding: 30px;
    color: #888888;
    background-color: #FFFFFF;
}

.leftSideBar, .rightSideBar {
    display: block;
    padding: 20px;
    width: 260px;
    background-color: #F9F9F9;
    margin-bottom: 25px;
}

.leftSideBar {
    float: left;
}


.leftSideBar .barHeader, .rightSideBar .barHeader {
    margin: 0 0 20px 0;
    padding: 0 0 14px 0;
    font-size: 20px;
    font-weight: normal;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #666666;
    background-color: #F9F9F9;
    line-height: normal;
    border-bottom: 1px dotted #666666;
}

.barContent {
    margin: 10px 0;
    color: #666666;
    line-height: 18px;
    font-size: 14px;
    font-family: Georgia, "Times New Roman", Times, serif;
}

li {
    list-style-type: none;
}
ul {
    /*margin-left: 0;*/
    padding-left: 0;
}
.barContent > label, .menuHeader, .menuItem {
    margin: 10px 0;
    color: #666666;
    line-height: 18px;
    font-size: 14px;
    font-family: Georgia, "Times New Roman", Times, serif;
    border-bottom: 1px dotted #666666;
    cursor: pointer;
}

.barContent > label {
    top: 10px;
    display: block;
}

.barContent > label:hover, .menuHeader:hover, .menuItem:hover {
    text-decoration: underline;
    color: #1c94c4;
}

.barContent > input:checked + label {
    color: #1c94c4;
}


.barContent > input {
    display: none;
}


.mainContent {
    display: block;
}

.mainContentHeader {
    text-align: center;
    display: block;
    position: relative;
    font-size: 25px;
    font-weight: normal;
    color: #555555;
    line-height: normal;
    /*margin: -40px 0 -20px 0;*/
}


.barHeader h2 {
    font-size: 20px;
    font-weight: normal;
    color: #555555;
    line-height: normal;
    margin-left: 45px;
}


/*#TableNameLabel {*/
    /*font-size: 20px;*/
    /*font-weight: normal;*/
    /*font-family: Georgia, "Times New Roman", Times, serif;*/
    /*color: #666666;*/
/*}*/

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    vertical-align: top;
    margin-bottom: 15px;
    margin-top: -16px;
    border: 1px solid #CCCCCC;
}

table thead th {
    font-size: 15px;
    color: #FFFFFF;
    background-color: #666666;
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
    text-align: center;
    table-layout: auto;
    vertical-align: middle;
}

table tbody td {
    font-size: 14px;
    vertical-align: top;
    border-collapse: collapse;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

table tbody td a:link {
    text-decoration: none;
    color: #666666;
}


table tbody td a:visited {
    color: #666666;
    text-decoration: none;
}

table tbody td p a:active {
    color: #1c94c4;
    text-decoration: underline;
}

table tbody td a:hover{
    color: #1c94c4;
    text-decoration: underline;
}


table thead th, table tbody td {
    padding: 5px;
    border-collapse: collapse;
}

table tbody tr.light {
    color: #666666;
    background-color: #F7F7F7;
}

table tbody tr.dark {
    color: #666666;
    background-color: #E8E8E8;
}


.clear {
    clear: both;
}
/*.mainContent {*/
    /*position: relative;*/
    /*float: right;*/
    /*margin-left: 10px;*/
/*}*/

/*todo set the text fields to resize none*/
textarea {
    resize: none;
}


.error {
    color: red;
    font-size: 16px;
}

a:link {
    text-decoration: none;
    color: #666666;
}


a:visited {
    color: #666666;
    text-decoration: none;
}

a:active {
    color: #1c94c4;
    text-decoration: underline;
}

a:hover{
    color: #1c94c4;
    text-decoration: underline;
}
/*.innerTable {*/
    /*border-spacing: 0;*/
    /*background: #FAF8F5;*/
    /*margin-top: 3px;*/
    /*font-size: 15px;*/
    /*font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;*/
/*}*/

/*table, thead, tr, th, tbody, td {*/
    /*border: 1px solid #7F7F7F;*/
/*}*/


/*.tableHead, thead, th{*/
    /*height: 48px;*/
/*}*/

/*.innerTableHead {*/
    /*text-align: center;*/
    /*background: #dddddd;*/
/*}*/

/*.innerTableBody {*/
    /*padding-left: 3px;*/
/*}*/

/*.menuContent {*/
    /*min-height: 42px;*/
    /*border-width: 1px;*/
    /*border-style: solid;*/
    /*border-color: #7F7F7F;*/
    /*background-color: #FAF8F5;*/
    /*line-height: 16px;*/
    /*color: #4A4A4A;*/
    /*font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;*/
    /*padding-left: 20px;*/
/*}*/






#footer {
    width: 1020px;
    margin: 13px auto 0 auto;
    position: relative;
    /*background: transparent url("../images/footerPict.jpg") repeat-x left top;*/
    clear: both;
}

#addressIcon {
    display: inline;
    float: left;
    position: relative;
    background: transparent url("../images/addressSign.png") no-repeat left top;
}

#callIcon {
    display: inline;
    float: left;
    position: relative;
    background: transparent url("../images/phoneSign.png") no-repeat left top;
}

#footerVline, #fotterVline2
{
    display: inline;
    float: left;
    background-color: #B3B3B5;
    position: relative;
}

#emailIcon {
    display: inline;
    float: left;
    position: relative;
    background: transparent url("../images/maleSign.png") no-repeat left top;
}

#footerUniversityInform, #institutePhone, #designerPhone, #instituteEmail, #designerEmail
{
    background-color: transparent;
    color: #A8A9A9;
    position: relative;
}

#addressFooter, #designerName, #allRightsInform {
    background-color: transparent;
    font-size: 12px;
    line-height: 14px;
    color: #A8A9A9;
    position: relative;
}


#footerUniversityInform {
    margin-left: 30px;
    min-height: 20px;
}

#footerContacts {
    margin-top: 8px;
    margin-left: 30px;

}

#addressIcon {
    width: 13px;
    height: 23px;
    display: inline;
    margin-top: 8px;
}

#footerAdsressInform {
    margin-left: 8px;
    width: 360px;
    display: inline;
    float: left;
}

#addressFooter {
    width: 369px;
    min-height: 20px;
}

#designerName {
    width: 369px;
    min-height: 20px;
    margin-top: 8px;
}

#footerVline {
    width: 1px;
    height: 79px;
}

#callIcon {
    width: 20px;
    height: 25px;
    margin-top: 8px;
    margin-left: 10px;
}

#fotterPhones, #footerEmails {
    margin-left: 8px;
    display: inline;
    float: left;
}

#institutePhone {
    width: 106px;
    min-height: 20px;
}

#designerPhone {
    width: 106px;
    min-height: 20px;
    margin-top: 8px;
}

#fotterVline2 {
    width: 1px;
    height: 79px;
}

#emailIcon {
    width: 31px;
    height: 20px;
    margin-top: 8px;
    margin-left: 10px;
}

#instituteEmail
{
    width: 126px;
    min-height: 20px;
}

#designerEmail {
    width: 126px;
    min-height: 20px;
    margin-top: 8px;
}

#allRightsInform {
    width: 369px;
    min-height: 20px;
    margin-left: 17px;
    margin-top: 6px;
}

.uploading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, 0 )
    url('../images/uploading.gif') 50% 50% no-repeat;
}

body.uploading {
    overflow: hidden;
}
