html
{
    min-height: 100%;
    min-width: 100%;
}
body {
    width: 800px;
    margin: 0px auto 0px auto;
}

header {
    height: 175px;
    background: transparent url("../images/images/img_01.jpg") no-repeat left top;
}

nav {
    margin: 0px;
    padding: 0px;
    width: 800px;
    height: 40px;
    float: left;
}
nav ul {
    margin: 0px;
    padding: 0px;
}
nav ul li a {
    padding: 0px;
    cursor: pointer;
    text-decoration: none;
    color: #E8E8E8;
    font-family: Times, Times New Roman, Georgia, serif;
}
nav ul li {
    padding-top: 10px;
    background-color: green;
    text-align: center;
    padding: 0px;
    list-style-type: none;
    width: 160px;
    float: left;
    height: 25px;
}
nav ul li:hover {
    background-color: #ed8a00;
    text-decoration: underline;
}

.leftAside {
    clear: both;
    float: left;
    width: 160px;
    border-bottom: solid;
    border-color: #e19600;
}
.mainContent {
    float: left;
    width: 160px;
}
.rightAside {
    float: left;
    width: 160px;
}